@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Apropos>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Layout_site.cshtml";
}


<!-- btc tittle Wrapper Start -->
<div class="btc_tittle_main_wrapper">
    <div class="btc_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="btc_tittle_left_heading">
                    <h1>A propos</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="btc_tittle_right_heading">
                    <div class="btc_tittle_right_cont_wrapper">
                        <ul>
                            <li><a href="Accueil">Accueil</a> <i class="fa fa-angle-right"></i></li>
                            <li>A propos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- btc tittle Wrapper End -->
<div class="btc_about_ls_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btc_about_ls_heading_main_wrapper">
                    <div class="btc_about_ls_heading_wrapper">

                        <h1>Qui sommes-nous ?</h1>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btc_about_left_ls_pera_wrapper text-justify">
                    <p>
                        CFC FINANCE Sarl (CFCF) est un cabinet d’expertise bancaire créée par des cadres supérieurs de banque capitalisant plusieurs années d’expérience dans la structuration de financements complexes, le risk-management et l’audit. Basé à Abidjan en république de Côte d’Ivoire, il accompagne et conseille plusieurs entreprises opérant aussi bien en Côte d’Ivoire que dans la sous-région ouest africaine.
                        Le cabinet est agréé auprès du Fonds de Développement de la Formation Professionnelle (FDFP) ainsi qu’auprès de la Cour d’Appel d’Abidjan.

                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="btc_about_right_ls_pera_wrapper text-justify">
                    <p>Les offres de services de CFC FINANCE se déclinent en trois axes, en l’occurrence l’expertise bancaire, la stratégie et le management...<br></p>
                </div>
                <p class="text-center"><button  class="btn btn-primary">Consulter nos services</button></p>
            </div> -->
        </div>
    </div>
</div>
<div class="btc_about_ls_bottom_cont_wrapper">
    <div class="container">
        <div class="btc_about_currency_box1">
            <i class="flaticon-money"></i>
            <h5><a href="#">Expertise bancaire</a></h5>
        </div>
        <div class="btc_about_currency_box2">
            <i class="flaticon-shield"></i>
            <h5><a href="#">La stratégie</a></h5>
        </div>
        <div class="btc_about_currency_box3">
            <i class="flaticon-progress-report"></i>
            <h5><a href="#">le management</a></h5>
        </div>
        <!-- <div class="btc_about_currency_box4">
            <i class="flaticon-shield"></i>
            <h5><a href="#">Secure</a></h5>
        </div> -->
    </div>
</div>

<div class="btc_about_buy_main_wrapper">
    <div class="btc_about_buy_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btc_about_buy_heading">
                    <h1>Découvrez nos services</h1>
                    <p>Les offres de services de CFC FINANCE se déclinent en trois axes, en l’occurrence l’expertise bancaire, la stratégie et le management...<br></p>
                    <a href="#">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="btc_testimonial_wrapper">
    <div class="container">
        <div class="row">
            <div class="btc_testimonial_info">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active">
                            <img class="img-responsive " src="images/content/testi_img1.jpg" alt="test">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1">
                            <img class="img-responsive" src="images/content/testi_img2.jpg" alt="test">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2">
                            <img class="img-responsive" src="images/content/testi_img3.jpg" alt="test">
                        </li>


                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <div class="btc_center_line"></div>
                        <!-- Quote 1 -->
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-offset-2 btc_testi_padding_zero">
                                    <div class="btc_testi_quote_wrapper1"></div>
                                    <div class="btc_testi_quote_wrapper2"></div>
                                    <p>
                                        “Donec feugiat id augue consequat vulputate Suspendisse at magna mattis dignissim libero fringilla leo aiquam veh. ultrices fringilla est tortor sollicitudin. This is Photoshop's version of Lorem Ipsum. Proin graida
                                        nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.”
                                    </p>
                                    <div class="btc_testi_cont_bottom_line"></div>
                                    <h1>by Akshay Handge (webstrot)</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-offset-2 btc_testi_padding_zero">
                                    <div class="btc_testi_quote_wrapper1"></div>
                                    <div class="btc_testi_quote_wrapper2"></div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    </p>
                                    <div class="btc_testi_cont_bottom_line"></div>
                                    <h1>by Akshay Handge (webstrot)</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-offset-2 btc_testi_padding_zero">
                                    <div class="btc_testi_quote_wrapper1"></div>
                                    <div class="btc_testi_quote_wrapper2"></div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .
                                    </p>
                                    <div class="btc_testi_cont_bottom_line"></div>
                                    <h1>by Akshay Handge (webstrot)</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

