@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Apropos>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Layout_site.cshtml";
}


<!-- btc tittle Wrapper Start -->
<div class="btc_tittle_main_wrapper">
    <div class="btc_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="btc_tittle_left_heading">
                    <h1>A propos</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="btc_tittle_right_heading">
                    <div class="btc_tittle_right_cont_wrapper">
                        <ul>
                            <li><a href="Accueil">Accueil</a> <i class="fa fa-angle-right"></i></li>
                            <li>A propos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- btc tittle Wrapper End -->
<div class="btc_about_ls_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btc_about_ls_heading_main_wrapper">
                    <div class="btc_about_ls_heading_wrapper">

                        <h1>Qui sommes-nous ?</h1>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btc_about_left_ls_pera_wrapper text-justify">
                    <p>
                        CFC FINANCE Sarl (CFCF) est un cabinet d’expertise bancaire créée par des cadres supérieurs de banque capitalisant plusieurs années d’expérience dans la structuration de financements complexes, le risk-management et l’audit. Basé à Abidjan en république de Côte d’Ivoire, il accompagne et conseille plusieurs entreprises opérant aussi bien en Côte d’Ivoire que dans la sous-région ouest africaine.
                        Le cabinet est agréé auprès du Fonds de Développement de la Formation Professionnelle (FDFP) ainsi qu’auprès de la Cour d’Appel d’Abidjan.

                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="btc_about_right_ls_pera_wrapper text-justify">
                    <p>Les offres de services de CFC FINANCE se déclinent en trois axes, en l’occurrence l’expertise bancaire, la stratégie et le management...<br></p>
                </div>
                <p class="text-center"><button  class="btn btn-primary">Consulter nos services</button></p>
            </div> -->
        </div>
    </div>
</div>
<div class="btc_about_ls_bottom_cont_wrapper">
    <div class="container">
        <div class="btc_about_currency_box1">
            <i class="flaticon-money"></i>
            <h5><a href="#">Expertise bancaire</a></h5>
        </div>
        <div class="btc_about_currency_box2">
            <i class="flaticon-shield"></i>
            <h5><a href="#">La stratégie</a></h5>
        </div>
        <div class="btc_about_currency_box3">
            <i class="flaticon-progress-report"></i>
            <h5><a href="#">le management</a></h5>
        </div>
        <!-- <div class="btc_about_currency_box4">
            <i class="flaticon-shield"></i>
            <h5><a href="#">Secure</a></h5>
        </div> -->
    </div>
</div>

<div class="btc_about_buy_main_wrapper1">
    <div class="btc_about_buy_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btc_about_buy_heading">
                    <h1>Découvrez nos services</h1>
                    <p>Les offres de services de CFC FINANCE se déclinent en trois axes, en l’occurrence l’expertise bancaire, la stratégie et le management...<br></p>
                    <a href="/PageStrategie">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="btc_testimonial_wrapper">
    <div class="container">
        <div class="row">
            <div class="btc_testimonial_info">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active">
                            <img class="img-responsive " src="~/assets/images/content/testi_img1.jpg" alt="test">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1">
                            <img class="img-responsive" src="~/assets/images/content/testi_img1.jpg" alt="test">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2">
                            <img class="img-responsive" src="~/assets/images/content/testi_img3.jpg" alt="test">
                        </li>


                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <div class="btc_center_line"></div>
                        <!-- Quote 1 -->
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-offset-2 btc_testi_padding_zero">
                                    <div class="btc_testi_quote_wrapper1"></div>
                                    <div class="btc_testi_quote_wrapper2"></div>
                                    <p>
                                        Les relations entre une entreprise et sa banque sont régies aussi bien par le cadre juridique et institutionnel que par les conventions et autres accords signés par l’ensemble des parties. Malheureusement, à l’instar de la plupart des textes régissant les relations humaines, la mise en œuvre desdits textes peut présenter des insuffisances susceptibles d’avoir des répercussions financières sur l’une ou l’autre des parties....
                                    </p>
                                    <div class="btc_testi_cont_bottom_line"></div>
                                    <h1><a href="/PageExpertiseBancaire">L'expertise bancaire</a></h1>
                                </div>
                            </div>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-offset-2 btc_testi_padding_zero">
                                    <div class="btc_testi_quote_wrapper1"></div>
                                    <div class="btc_testi_quote_wrapper2"></div>
                                    <p>
                                        Dans le cadre de la politique de renforcement des performances de votre entreprise, vous souhaitez vous doter de méthodes de gestion financière et organisationnelle modernes, nécessaires à son développement serein...
                                    </p>
                                    <div class="btc_testi_cont_bottom_line"></div>
                                    <h1><a href="/PageStrategie">La stratégie</a></h1>
                                </div>
                            </div>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-offset-2 btc_testi_padding_zero">
                                    <div class="btc_testi_quote_wrapper1"></div>
                                    <div class="btc_testi_quote_wrapper2"></div>
                                    <p>
                                        Le Conseil & assistance en management est un service par lequel nous assistons les chefs d’entreprises 
                                        dans leur volonté de mettre en place des techniques modernes de gestion....
                                    </p>
                                    <div class="btc_testi_cont_bottom_line"></div>
                                    <h1><a href="/PageManagement">Le management</a></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

