@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ListeParticipant>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Layout_app.cshtml";
    int ID = Convert.ToInt32(TempData["ROWID"]);
}

<input type="hidden" id="rowId" value="@ID" />
<div class="container-fluid overflow-hidden">
    <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
        <!-- Page Title -->
        <div id="page-title" class="padding-30px background-white full-width">
            <div class="container">
                <ol class="breadcrumb opacity-5">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Liste des participants</li>
                </ol>
                <h1 class="font-weight-300">LISTE DES PARTICIPANTS </h1>
            </div>
        </div>
        <!-- // Page Title -->
        <div class="margin-tb-45px full-width">

            <!-- Demande item -->
            <div class="background-white thum-hover box-shadow hvr-float full-width  margin-bottom-45px padding-top-20px">
                @*LA LISTE DES PARTICIPANTS
                <br /><br />*@
                <div class="col-12" id="tableParticipants"></div>
            </div>
            
            <!-- // Demande item -->

        </div>
    </div>
</div>

@*<script src="~/assets/adminAssets/sweet-alert2/sweetalert2.all.js"></script>
<script src="~/assets/adminAssets/sweet-alert2/sweetalert2.min.js"></script>*@
<script>
    $(function () {
        //swal("Attention", "Alert", "error");
        //debugger;
        //charger_donnees();
        $("#tableParticipants").jsGrid({
            width: "100%",
            paging: true,
            editing: false,
            autoload: true,
            controller: {
                loadData: function() {
                    const d = $.Deferred();
                    $.ajax({
                        url: '@Url.Action("ListeParticipants","RDV")',
                        method: 'post',
                        data: { jsonObject: $("#rowId").val()}
                    }).done(function (retour) {
                        debugger;
                        const result = retour.data.length > 0 ? retour.data : [];
                        d.resolve(result);
                    });
                    return d.promise();
                }
            },
            fields: [
                { name:"NomPrenoms",title:"Nom & prénoms", type: "text", width: 15 },
                { name:"Titre",title:"Titre", type: "text", width: 15 },
                { name:"Telephone",title:"Téléphone", type: "text", width: 15 },
                { name:"NomEts",title:"Etablissement", type: "text",width: 15 },
                { name:"email",title:"E-mail", type: "text", width: 15 },
                { name:"AnneeConstitution",title:"Date de création", type: "text", width: 15 },
                { name:"objet",title:"Objet", type: "text", width: 15 },
                { name:"Adressegeographique",title:"Adresse géographique", type: "text", width: 15 }
            ]

        });
        
    });





    function charger_donnees() {
        //$("#staticBackdrop").modal("show");
        $("tbody").append('<tr><td colspan="10" style="text-align:center;">Chargement en cours . . .</td></tr >');

        //var operation = {
        //    ID_LOCALITE: ''
        //};
        
        $.ajax({
            method: 'post',
            url: '@Url.Action("ListeParticipants", "RDV")',
            data: { jsonObject: JSON.stringify($("#rowId").val())},
            success: function (data) {
                debugger;
                $("tbody").html("");
                if (data.ok == true) {
                    if (data.data.length > 0) {
                        $.each(data.data, function (i, val) {
                            
                            var line = '<tr>'
                                + '<th scope="row" > ' + val.NomPrenoms + '</th>'
                                + '<td>' + val.Titre + '</td>'
                                + '<td>' + val.Telephone + '</td>'
                                + '<td>' + val.NomEts + '</td>'
                                + '<td>' + val.email + '</td>'
                                + '<td>' + val.AnneeConstitution + '</td>'
                                + '<td>' + val.objet + '</td>'
                                + '<td>' + val.Adressegeographique + '</td>'
                                //+ '<td>'
                                //+ '   <a class="btn btn-primary" onclick="' + val.rowid + '"><i class="fas fa-edit"></i></a>'
                                //+  '</td>'
                                +'</tr >';

                            $("tbody").append(line);
                        });
                    } else {
                        var error = '<tr><td colspan="2">Aucune données disponible ce tableau.</td></tr >';

                        $("tbody").append(error);
                    }

                }
                else {
                    //swal("Attention", data.message, "error");
                    $("tbody").append('<tr><td colspan="10" style="text-align:center;">' + data.message+'</td></tr >');
                }
            },
            error: function (msg) {
                //swal("Attention", data.message, "error");
            }
        });
    }
    
</script>