@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.PageStrategie>
    @using ContentModels = Umbraco.Web.PublishedModels;
    @{
    Layout = "Layout_site.cshtml";
    }
    <div class="btc_tittle_main_wrapper">
        <div class="btc_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="btc_tittle_left_heading">
                        <h1>La Stratégie</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="btc_tittle_right_heading">
                        <div class="btc_tittle_right_cont_wrapper">
                            <ul>
                                <li><a href="Accueil">Accueil</a> <i class="fa fa-angle-right"></i></li>
                                <li>La stratégie</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- btc tittle Wrapper End -->
    <!-- btc blog Category Wrapper Start -->
    <div class="btc_blog_category_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="btc_blog_cate_post_main_wrapper">
                                <div class="btc_blog_cate_post_img_wrapper">
                                    <img src="~/assets/images/strategie.jpg" alt="blog_img" class="img-responsive" />

                                </div>
                                <div class="btc_blog_cate_cont_wrapper">

                                    <br />
                                    <br />
                                    <strong>1. Audit organisationnel :</strong>
                                    <a href="#audit">
                                        <p>
                                            Dans le cadre de la politique de renforcement des performances de votre entreprise, vous souhaitez vous doter de méthodes de gestion financière et organisationnelle modernes, nécessaires à son développement serein. Nos experts se tiennent à votre disposition afin de procéder :
                                            <ol>
                                                <li>	Au diagnostic managérial et opérationnel de votre entreprise ;</li>
                                                <li>	À l’élaboration de la cartographie des risques (identification, évaluation et mitigation des risques) </li>
                                                <li>	La mise en place ou au renforcement des outils de gestion nécessaires à l’amélioration des performances de votre entreprise  </li>
                                                <li>	L’organisation pour une meilleure maitrise des risques en vue d’une croissance sereine et pérenne de votre entreprise  </li>
                                                
                                            </ol>

                                        </p>
                                    </a>
                                    <strong>2.	L’étude et le montage de projets industriels</strong>
                                    <p>
                                        A travers ce service, les experts du cabinet CFC FINANCE conçoivent et élaborent votre projet industriel pour en déterminer la faisabilité, le coût et la rentabilité.

                                    </p>


                                    <strong>3.	L’agrément à l’investissement CEPICI</strong>
                                    <p>
                                        Dans le cadre de la mise en œuvre de votre projet d’investissement, vous souhaitez tirer profit des avantages fiscaux et douaniers offerts par la législation en vigueur en république de Côte d’Ivoire, et particulièrement par le code des investissements. Les experts de CFC FINANCE procèderont à l’instruction de votre dossier d’agrément et le défendront auprès du Centre pour la Promotion des Investissements en Côte d’Ivoire (CEPICI) jusqu’à l’obtention d’une décision d’agrément à l’exonération des droits fiscaux et douaniers.

                                    </p>







                                    <strong>4.	Les due diligence</strong>
                                    <p>
                                        Vous êtes un investisseur et désirez prendre des participations dans une entreprise existante en sécurisant au maximum votre investissement, alors les experts de CFC FINANCE vous assistent dans la mise en œuvre d’un audit préalable d’acquisition.

                                    </p>

                                </div>

                            </div>
                        </div>




                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="btc_blog_cate_right_main_wrapper">

                    </div>
                </div>
            </div>
        </div>
    </div>


