@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.PageManagement>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Layout_site.cshtml";
}
<div class="btc_tittle_main_wrapper">
    <div class="btc_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="btc_tittle_left_heading">
                    <h1>Le Management</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="btc_tittle_right_heading">
                    <div class="btc_tittle_right_cont_wrapper">
                        <ul>
                            <li><a href="Accueil">Accueil</a> <i class="fa fa-angle-right"></i></li>
                            <li>Le management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- btc tittle Wrapper End -->
<!-- btc blog Category Wrapper Start -->
<div class="btc_blog_category_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="btc_blog_cate_post_main_wrapper">
                            <div class="btc_blog_cate_post_img_wrapper">
                                <img src="~/assets/images/management.jpg" alt="blog_img" class="img-responsive" />

                            </div>
                            <div class="btc_blog_cate_cont_wrapper">

                                <br />
                                <br />
                                <strong>1.	Le conseil et assistance en management</strong>
                                <a href="#audit">
                                    <p>
                                        Le Conseil & assistance en management est un service par lequel nous assistons les chefs d’entreprises dans leur volonté de mettre en place des techniques modernes de gestion. A l’issue d’un diagnostic opérationnel et organisationnel de leur entreprise, nous dégageons les perspectives d’évolution de l’exploitation sur le Court, Moyen et Long Terme ainsi que l’évolution prévisionnelle de leur trésorerie et de leur situation financière en générale. Ce diagnostic permet de proposer le remède adapté à la situation de votre entreprise afin de vous aider à sortir définitivement d’éventuelles zones de turbulence.
                                    </p>
                                </a>
                                <strong>2.	La formation et le renforcement des capacités</strong>
                                <p>
                                    Les Ressources Humaines constituant l’un des facteurs clés de succès de toute entreprise, CFC FINANCE se tient à vos côtés pour aider vos collaborateurs à renforcer leurs capacités et acquérir des connaissances en adéquation avec leurs responsabilités au sein de votre entreprise.
                                    Notre cabinet est agréé FDFP et compte plusieurs experts spécialistes en animation de séminaires de formation de qualité.


                                </p>


                                <strong>3.	L’audit des charges générales, sociales et fiscales </strong>
                                <p>
                                    L’audit des charges générales, sociales et fiscales consiste à passer en revue l’ensemble des charges de l’entreprise de façon approfondie en vue d’en réduire le niveau et améliorer la profitabilité de l’entreprise.

                                </p>







                                <strong>4.	La comptabilité et gestion de trésorerie</strong>
                                <p>
                                    La comptabilité est le système d’organisation par lequel les flux et opérations d’une entreprise sont traduits en termes financiers. A cet effet, elle se doit de fournir une image fidèle de la situation financière et des résultats de l'entreprise.

                                    Etant donné l’importance capitale des états financiers aussi bien dans le processus d’octroi de crédit par les banques que dans le pilotage d’une entreprise, il convient de vous faire assister par des professionnels ayant une connaissance parfaite de la comptabilité et des procédures d’octroi de financements bancaires.

                                    Dans ce contexte, les experts de CFC FINANCE se tiennent à votre disposition à l’effet de vous doter d’une comptabilité sincère et régulière de votre entreprise tout en accroissant vos chances d’accéder au financement.


                                </p>







                                <strong>5.	La fiscalité et l’assistance juridique</strong>
                                <p>
                                    La méconnaissance du dispositif fiscal régissant le monde des affaires nous expose à des risques permanents susceptibles de nous faire supporter sanctions allant des pénalités à la liquidation de notre entreprise. A contrario, une bonne connaissance des textes est de nature à nous faire bénéficier des nombreux avantages offerts par le code général des impôts et les textes annexes.

                                    Nos experts vous assisteront au quotidien ou sur demande à travers des missions d’audit fiscal ou de préparation d’un contrôle fiscal afin de mitiger parfaitement le risque fiscal qui planerait sur votre entreprise.


                                </p>
                            </div>

                        </div>
                    </div>




                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="btc_blog_cate_right_main_wrapper">

                </div>
            </div>
        </div>
    </div>
</div>


