@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.PageServiceBancaire>
    @using ContentModels = Umbraco.Web.PublishedModels;
    @{
    Layout = "Layout_site.cshtml";
    }
    <div class="btc_tittle_main_wrapper">
        <div class="btc_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="btc_tittle_left_heading">
                        <h1>Expertise Bancaire</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="btc_tittle_right_heading">
                        <div class="btc_tittle_right_cont_wrapper">
                            <ul>
                                <li><a href="Accueil">Accueil</a> <i class="fa fa-angle-right"></i></li>
                                <li>Expertise Bancaire</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- btc tittle Wrapper End -->
    <!-- btc blog Category Wrapper Start -->
    <div class="btc_blog_category_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="btc_blog_cate_post_main_wrapper">
                                <div class="btc_blog_cate_post_img_wrapper">
                                    <img src="~/assets/images/expertisebancaire.jpg" alt="blog_img" class="img-responsive"/>
                                  
                                </div>
                                <div class="btc_blog_cate_cont_wrapper">
                                    
                                    <br />
                                    <br />
                                    <strong>1.	L’audit des charges financières</strong>
                                    <a href="#audit">
                                        <p>
                                            Les relations entre une entreprise et sa banque sont régies aussi bien par le cadre juridique et institutionnel que par les conventions et autres accords signés par l’ensemble des parties. Malheureusement, à l’instar de la plupart des textes régissant les relations humaines, la mise en œuvre desdits textes peut présenter des insuffisances susceptibles d’avoir des répercussions financières sur l’une ou l’autre des parties. En d’autres termes, la banque en tant qu’institution gérée par des hommes, pourrait se tromper de bonne foi, de même que le client pourrait initier des opérations sans en maitriser l’incidence financière sur son entreprise.

                                            Nos experts ont une excellente connaissance de la banque et du mode de facturation de ses produits (financements, services, etc). A travers l’audit de charges financières, nous accompagnons nos clients dans la recherche de toutes anomalies ou incidents ayant généré le paiement de charges financières indues aux banques. Cette mission se solde par des actions correctives de recouvrement auprès des banques, le cas échéant.
                                            Ainsi, nous procéderons successivement à :
                                            <ol>
                                                <li>la réévaluation des intérêts, commissions et frais prélevés par la banque</li>
                                                <li>le suivi de la régularisation des anomalies constatées</li>
                                                <li>la négociation des conditions bancaires préférentielles </li>
                                                <li>l’analyse des performances des relations bancaires </li>
                                                <li>l’optimisation de la trésorerie. </li>
                                            </ol>

                                        </p>
                                    </a>
                                    <strong>2.	La recherche de financements</strong>
                                    <p>
                                        La solide expérience bancaire des experts de notre institution ainsi que la densité de notre réseau de banques partenaires nous ont permis de mobiliser des financements importants pour nos clients.
                                        Grâce à notre parfaite connaissance des procédures et politiques de crédit des différentes banques, nous instruisons un business plan de financement conforme à leurs attentes et interagissons avec leurs comités de crédit jusqu’à l’obtention d’une décision de crédit en faveur de nos clients.
                                        Ainsi, ces financements ont bénéficié à des entreprises opérant dans des secteurs d’activité variés, en l’occurrence les Télécoms, le BTP, l’Immobilier, l’agro-industrie, le transit, le commerce général, les commodities (café cacao, hévéa, anacarde-coton), les mines, etc.

                                        Enfin, nos méthodes ont permis de mobiliser des financements par des banques dans lesquelles les entreprises bénéficiaires ne disposaient pas de compte préalablement à notre intervention. En d’autres termes, par notre canal, il vous est possible pour toute entreprise d’obtenir le financement d’une banque dont elle n’était pas cliente auparavant.


                                    </p>


                                    <strong>3.	Le montage de business plans</strong>
                                    <p>
                                        Vous avez un projet pour lequel vous souhaitez avoir une visibilité quant aux conditions de sa réalisation et de sa rentabilité, les experts de CFC FINANCE se tiennent à votre disposition et vous assistent pour l’élaboration de votre business plan de financement ou d’investissement.
                                        En effet, grâce à la qualité de nos ressources humaines qui ont acquis une expérience remarquable en management et financement de projets, nous vous accompagnons dans :
                                        <ol>
                                            <li>La conception et le pilotage de vos projets </li>
                                            <li>L’évaluation de la rentabilité de votre projet </li>
                                            <li>La structuration, l’évaluation précise du type et du montant de votre besoin de financement </li>
                                            <li>L’élaboration d’un business plan de financement à l’attention de bailleurs de fonds (banques, investisseurs privés, etc.) </li>
                                        </ol>

                                    </p>







                                    <strong>4.	La gestion du contentieux bancaire</strong>
                                    <p>
                                        Vous avez bénéficié de financements bancaires que vous éprouvez des difficultés à rembourser pour diverses raisons. Vous êtes constamment menacés de poursuites devant les juridictions compétentes et restez inquiets quant à la pérennité de votre entreprise. Les experts de CFC FINANCE vous assistent dans :
                                        <ol>
                                            <li>•	La résolution de ce précontentieux par la voie amiable  </li>
                                            <li>L’évaluation de la rentabilité de votre projet </li>
                                            <li>La négociation de conditions préférentielles auprès de la banque </li>
                                            <li>Etc...</li>
                                        </ol>

                                    </p>

                                </div>
                             
                            </div>
                        </div>
                       
                       
                       

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="btc_blog_cate_right_main_wrapper">
                   
                    </div>
                </div>
            </div>
        </div>
    </div>

  
 