@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Services>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Layout_site.cshtml";
}

    <!-- btc tittle Wrapper Start -->
    <div class="btc_tittle_main_wrapper">
        <div class="btc_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="btc_tittle_left_heading">
                        <h1>Services</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="btc_tittle_right_heading">
                        <div class="btc_tittle_right_cont_wrapper">
                            <ul>
                                <li><a href="Accueil">Accueil</a> <i class="fa fa-angle-right"></i></li>
                                <li>Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- btc tittle Wrapper End -->


    <!-- btc service Wrapper Start -->
    <div class="btc_services_indx_main_wrapper" data-parallax="scroll" data-image-src="~/assets/images/content/service_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="btc_sell_left_cont_wrapper">
                        <h3 style="color:#ff880e;">Qui sommes-nous</h3>
                        <p>
                            <i>CFC FINANCE Sarl (CFCF) </i> est un cabinet d'expertise bancaire créée par des cadres superieurs de banque capitalisant plusieurs années d'experience dans la structuration de financements complexes,
                            le risk-management et l'audit. Basé à Abidjan en république de Côte d'Ivoire, il accompagne et conseille plusieurs entreprises...
                        </p>
                        <a href="#">VOIR PLUS</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                    <div class="btc_sell_right_side_wrapper">
                        <img src="~/assets/images/content/services/ser1.jpg" alt="buy_img">
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="btc_services_heading_main_wrapper">
                        <div class="btc_services_heading_wrapper">
                            <h1>Notre équipe</h1>
                            <span>#</span>
                            <h5>Les offres de services de <b> CFC FINANCE</b> se declinent en trois axes, en l'occurrence l'expertise bancaire, la stratégie et le management.</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="btc_team_slider_cont_main_wrapper btc_team_indx_slider_cont_main_wrapper">
                        <div class="btc_team_img_wrapper btc_team_indx_img_wrapper">
                            <img src="~/assets/images/content/services/ser1.jpg" alt="team_img1" class="img-responsive">
                        </div>
                        <div class="btc_team_img_cont_wrapper btc_team_index_img_cont_wrapper">
                            <h4><a href="#">Directeur Général </a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="btc_team_slider_cont_main_wrapper btc_team_indx_slider_cont_main_wrapper">
                        <div class="btc_team_img_wrapper btc_team_indx_img_wrapper">
                            <img src="~/assets/images/content/services/ser1.jpg" alt="team_img1" class="img-responsive">
                        </div>
                        <div class="btc_team_img_cont_wrapper btc_team_index_img_cont_wrapper">
                            <h4><a href="#">Directeur du marketing</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="btc_team_slider_cont_main_wrapper btc_team_indx_slider_cont_main_wrapper">
                        <div class="btc_team_img_wrapper btc_team_indx_img_wrapper">
                            <img src="~/assets/images/content/services/ser1.jpg" alt="team_img1" class="img-responsive">
                        </div>
                        <div class="btc_team_img_cont_wrapper btc_team_index_img_cont_wrapper">
                            <h4><a href="#">Directeur financier</a></h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- btc service Wrapper End -->